* {
    font-family: 'Bangers', cursive;
}

body {
    background-color: #202a50;
}

#navbarhead {
    background-color:  #0d0e1f;
}

#navtext {
    font-size: 35px;
    color: #facb0e;
}

#getupline {
    font-size: 25px;
    color: #f3970d;
}

#footertext {
    font-size: 30px;
    color: #f20752;
}

.App {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sorryText {
    color: #71f058;
    font-size: x-large;
}

#movieTitleHere {
    color: #f3970d;
}